@import "./variables";
.all {
    margin-top: 18px;
    .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 3px;
        width: 98%;
        background: #fff;
        padding: 12px 45px 12px 16px;
        &__list {
            list-style: none;
            display: flex;
            flex-direction: row;
            border-bottom: 2px solid transparent;
        }
        .active {
            color: rgba(45, 40, 94, 0.56);
            border-bottom: 2px solid $main-text;
        }
        &__item {
            text-decoration: none;
            color: $main-text;
            font-weight: 600;
            padding: 12px 16px;
            margin-right: 10px;
            span {
                margin-right: 5px;
            }
        }
        &__calendar {
            margin-left: auto;
            color: $main-text;
            margin-right: 30px;
            @extend %center;
        }
        &__date {
            font-weight: 600;
            color: $main-text;
        }
    }
}
@media screen and (max-width: $breakPoint){
    .all{
        .tabs{
            width: 100%;
            &__calendar {
                margin-right: 0px;
            }
            &__item {
                padding: 11px 6px;
                span{
                    margin-left: 5px;
                }
            }
            &__date {
                display: none;
            }
        }
    }
}